<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_IDemoServices">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://localhost:65412/DemoService.svc" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IDemoServices" contract="ServiceReference1.IDemoServices"
                name="NetHttpBinding_IDemoServices" />
        </client>
    </system.serviceModel>
</configuration>